<div s:if="!data" style="width:100%" class="progress">
  <div class="progress-bar "></div>
</div>
<div s:if="loading" style="width:100%" class="progress">
  <div class="progress-bar "></div>
</div>
<div bind class="container  fade-in">
  <h4 s:if="data" class="text-secundary-dark">{{data.assunto}} - <small>{{data.protocolo}}</small></h4>
  <div s:if="data" class="row mt-2 fade-in">
    <div class="col-md-8">
      <h5>{{data.cliente.nome}}</h5>
      <div class="d-flex justify-content-between flex-nowrap mb-1">
        <small>Contato {{data.cliente.telefoneFixo}} / {{data.cliente.telefoneMovel}}</small> <small>CPF:
          {{data.cliente.cpf}}</small>
      </div>
      <div class="p-0 m-0" style="overflow-y: auto; height: 60vh;">
        <a bind s:repeat="eventos as eventos" class="list-group-item list-group-item-action flex-column align-items-start mb-1 fade-in">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{evento.acao}} por {{eventos.atendente.nome}}</h5>
            <small class="text-muted">{{eventos.data}}</small>
          </div>
          <p class="mb-1">{{eventos.descricao}}</p>
          <small class="text-muted">{{eventos.atendente.email}}</small>
        </a>
      </div>
    </div>
    <div class="col-md-4 mt-4">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
            aria-selected="true">Atualizar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
            aria-selected="false">Transferir</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
            aria-selected="false">Encerrar</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <form s:id="formAtualizar" class="mt-3">
            <div class="form-group">
              <textarea class="form-control" s:id="descricaoAtualizar" rows="3" placeholder="Descrição"></textarea>
            </div>
            <div class="d-flex justify-content-end">
              <button class="btn btn-primary" s:id="atualizar" type="button">Atualizar</button>
            </div>
          </form>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <form s:id="formTransferir" class="mt-3">
            <div class="form-group">
              <select-input url="/atendentes" required="false" label="Atendente" s:id="select"></select-input>
              <textarea class="form-control" s:id="descricaoTransferir" rows="3" placeholder="Descrição"></textarea>
            </div>
            <div class="d-flex justify-content-end">
              <button class="btn btn-success" s:id="transferir" type="button">Transferir</button>
            </div>
          </form>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          <form s:id="formEncerrar" class="mt-3">
            <div class="form-group">
              <textarea class="form-control" s:id="descricaoEncerrar" rows="3" placeholder="Descrição"></textarea>
            </div>
            <div class="d-flex justify-content-end">
              <button class="btn btn-danger" s:id="encerrar" type="button">Encerrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <snack-bar s:id="snackbar"></snack-bar>
</div>