$text-color:#fafafa;
$primary-color:#0277bd;
$primary-light:#58a5f0;
$primary-dark:#004c8c;
$secundary-light: #62727b;
$secundary-dark: #102027;
$secundary-color:#37474f;

$theme-colors:( 'primary-light' : $primary-light, 
                'primary-dark' : $primary-dark, 
                'primary-color' : $primary-color, 
                'text-color' : $text-color, 
                'secundary-light' : $secundary-light, 
                'secundary-dark' : $secundary-dark, 
                'secundary-color' : $secundary-color);

@import 'node_modules/bootstrap/scss/bootstrap';
*

.shadow-1{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.shadow-nav{
    box-shadow: 3px 1.5px 3.5px rgba(0,0,0,0.12), 2px 1.5px 3.5px rgba(0,0,0,0.24);
}

.shadow-nav-1{
    box-shadow: 1px 1.5px 3.5px rgba(0,0,0,0.12), 1px 1.5px 3.5px rgba(0,0,0,0.24);
}
.shadow-2{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.shadow-hover-1{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.shadow-hover-1:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.shadow-3{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.shadow-4{
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.shadow-5{
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#app{
    max-height: 90vh;
    overflow: auto;    
}
.progress{
    height: 3px;
    border-radius: 20px;
    position: fixed;
    background-color:#343a4000; 
    position: fixed;
    top: 0;
    left: 0; 
}

.progress .progress-bar{
   position: absolute;
   height: 3px;
   border-radius: 20px;
   width: 10%;
   background-color:#0187d4;
   animation: progress-animation 1s infinite;
   animation-timing-function: ease-in-out;
}

@keyframes progress-animation{
    0% { 
      transform: translateX(0vw); 
    }
   
    20%{
        width: 20%;
    }
   
    40%{
        width: 80%;
    }

    100% { transform: translateX(100vw);
        width: 80%;
    }
    
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    overflow: hidden;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

#content{
    width: 100%;
    max-height: 100vh;
}
a,
a:hover,
a:focus,
a:active {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
    
}
  
.navbar {
    padding: 11.07px 10px;
    background: #fafafa;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;

}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
    overflow: hidden;
}

#sidebar {
    min-width: 15%;
    max-width: 15%;
    height: 100vh;
    color: #fafafa;
    transition: all 0.2s;
    transition-timing-function: linear
}

#sidebar.active {
    min-width: 95px;
    max-width: 95px;
    text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.95em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 15px;

}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.4em;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    
}

#sidebar ul li a:hover {
    color: $primary-color;
    background: #fafafa;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fafafa;
    background:darken($primary-color,6%);
    border-left: 5px solid darken($primary-dark,6%)   
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background:darken($primary-color,3%);
    border-left: 5px solid darken($primary-dark,6%)   
    
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.article,
a.article:hover {
    background:$primary-color !important;
    color: #fafafa !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 990px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }

    #content{
        width: 100%
    }
  

    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
        
    }
    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
       
    }
    #sidebar .sidebar-header  {
        padding: 13.3px
       
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

.fade-in {
	-webkit-animation: fade-in 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000)  both;
	        animation: fade-in 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000)  both;
}
@keyframes fade-in {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.text-expand {
    -webkit-animation: text-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.2s both;
            animation: text-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.2s both;
  }
  
  @keyframes text-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }