<div class="container  mt-3 fade-in">
  <div class="row mt-3 d-flex justify-content-around">
    <div class="col-md-12">
      <div class="jumbotron shadow-1">
        <h1 class="display-4 text-danger">ERRO 404 !</h1>
        <p class="lead">Essa não é a pagina que você estava procurando !</p>
        <hr class="my-4">
        <p>Clique no botão abaixo para voltar ao inicio</p>
        <a class="btn btn-primary-color shadow-1 btn-lg" href="#!/dashboard" role="button">Home</a>
      </div>
    </div>
  </div>
</div>