<div class="container shadow-1">
        <h5 class="mb-4 pt-2 text-secundary-dark">Novo Chamado</h5>
        <form action="">
      
          <div class="row">
      
            <div class="col-md-6">
      
              <fieldset>
      
                <div class="form-group">
                  <label for="cpf">CPF</label>
                  <input type="text" class="form-control" id="cpf" name="cpf" placeholder="000.000.000-00">
                </div>
      
                <div class="form-group">
                  <label for="email">Email</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">@</span>
                    </div>
                    <input type="email" class="form-control" id="email" name="email" placeholder="email@exemplo.com">
                  </div>
                </div>
      
              </fieldset>
            </div>
      
            <div class="col-md-6 ">
      
              <fieldset>
      
                <div class="form-group">
                  <label for="numero-cartao">Protocolo</label>
                  <input type="text" class="form-control" id="numero-cartao" name="numero-cartao" placeholder="" disabled>
                </div>
      
                <div class="form-group">
                  <label for="numero-cartao">Assunto</label>
                  <input type="text" class="form-control" id="numero-cartao" name="numero-cartao" placeholder="">
                </div>
      
              </fieldset>
      
            </div>
      
          </div>
      
          <div class="row mt-4">
      
            <div class="col-md-6">
      
              <div class="form-group">
                <label for="validade-cartao">Descrição do Problema</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder=""></textarea>
              </div>
      
            </div>
      
          </div>
      
          <div class="w-100 p-3 d-flex justify-content-end">
            <button type="button" class="btn btn-primary-color shadow-1">Abrir Chamado</button>
          </div>
      
        </form>