{
    "presets": [
      ["@babel/preset-env", {
        "targets": {
          "node": "current",
          "browsers": ["last 2 Chrome versions"]
        }
      }]
    ],
    "plugins": [
       [ "@babel/plugin-syntax-dynamic-import"] ,
       [ "@babel/plugin-proposal-class-properties"] ,
       ["@babel/plugin-proposal-decorators", { "legacy": true }]
    ]
  }