<mat-card class="dashboard-card" [routerLink]="[chamado.protocolo]">
  <mat-card-header>
    <mat-card-title>
      {{chamado.assunto}}
      <!-- <button mat-icon-button class="more-button" aria-label="Toggle menu" [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item [routerLink]="[chamado.protocolo]">Ver detalhes</button>
      </mat-menu> -->
    </mat-card-title>
    <mat-card-subtitle>
      Para {{chamado.cliente.nome}}<br>
      {{chamado.dataAbertura | date:'medium'}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content">
    <mat-chip-list>
      <mat-chip color="accent" selected>
        {{chamado.eventos.length}} {{ chamado.eventos.length === 1 ? 'evento' : 'eventos' }}
      </mat-chip>
      <mat-chip color="warn" selected *ngIf="chamado.dataEncerramento">encerrado</mat-chip>
    </mat-chip-list>

  </mat-card-content>
</mat-card>
