<div id="cardHero" class="list-group d-flex w-100 flex-row justify-content-around flex-wrap">
  <a bind bind:status="item.statusFiltro" s:repeat="data as item" bind:style="item.status" bind:href="item.urlProtocolo" id="teste" class="list-group-item fade-in m-1 list-group-item-action flex-column align-items-start ">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{item.cliente.nome}}</h5>
      <small>{{item.data}}</small>
    </div>
    <p class="mb-1">{{item.assunto}}</p>
    <div class="d-flex justify-content-between">
      <small class="protocolo">Protocolo: {{item.protocolo}}</small> 
      <small class="cpf">CPF: {{item.cliente.cpf}}</small>
    </div>
  </a>

</div>

<style>
  .list-group-item {
    width: 48%;
  }
  @media (max-width: 990px) {
    .list-group-item {
      width: 100%;
    }

  }

#teste {
/* border-left: solid 3px red; */
border-radius:5px;
}
</style>