<div class="container p-4 shadow-1 fade-in">
  <h5 class="mb-4">Novo Cliente</h5>

  <form bind autocomplete="off">
    <div class="form-row">

      <div class="form-group col-md-6">
        <label for="nome">Nome</label>
        <input autocomplete="off" type="text" bind:class="nomeIsValid" s:id="nome" id="nome" placeholder="">
        <div s:if="nomeIsValid" class="invalid-feedback">Campo obrigatório !</div>
      </div>

      <div class="form-group col-md-6">
        <label for="sobrenome">Sobrenome</label>
        <input autocomplete="off" type="text" bind:class="sobrenomeIsValid" s:id="sobrenome" id="sobrenome" placeholder="">
        <div s:if="sobrenomeIsValid" class="invalid-feedback">Por favor Insira um Telefone valido !</div>
      </div>

    </div>

    <div class="form-row">

      <div class="form-group col-md-6">
        <label for="cpf">CPF</label>
        <input autocomplete="off" type="text" bind:class="cpfIsValid" id="cpf" s:id="cpf" data-mask="###.###.###-##">
        <div s:if="cpfIsValid" class="invalid-feedback">Por favor Insira um CPF valido !</div>
      </div>

      <div class="form-group col-md-6">
        <div class="form-group ">
          <label for="email">Email</label>
          <input autocomplete="off" type="email" bind:class="emailIsValid" s:id="email" id="email" placeholder="">
          <div s:if="emailIsValid" class="invalid-feedback">Por favor Insira um Email valido !</div>
        </div>
      </div>

    </div>

    <div class="form-row">

      <div class="form-group col-md-3 ">
        <div class="form-group ">
          <label for="tell">Telefone</label>
          <input autocomplete="off" type="tel" bind:class="tellIsValid" s:id="tell" id="tell" placeholder="" data-mask="(##) ####-####">
          <div s:if="tellIsValid" class="invalid-feedback">Por favor Insira um Telefone valido !</div>
        </div>
      </div>

      <div class="form-group col-md-3">
        <div class="form-group ">
          <label for="cell">Celular</label>
          <input autocomplete="off" type="tel" bind:class="cellIsValid" s:id="cell" id="cell" placeholder="" data-mask="(##) # ####-####">
          <div s:if="cellIsValid" class="invalid-feedback">Por favor Insira um Celular valido !</div>
        </div>
      </div>

    </div>

    <div class="w-100 p-3 mt-5 d-flex justify-content-end">
      <button type="button" s:id="salvar" class="btn btn-primary-color shadow-1">Salvar</button>
    </div>

  </form>
  <snack-bar s:id="snackbar"></snack-bar>
  <!-- <div bind s:id="snackbar" bind:style="color" id="snackbar">{{msg}}</div> -->

</div>
