<div class="container p-4 shadow-1 fade-in">
  <h5 class="mb-4">Novo Cliente</h5>

  <form bind autocomplete="off">
    <div class="form-row">

      <div class="form-group col-md-6">
        <label for="nome">Nome</label>
        <input autocomplete="off" type="text" bind:class="nomeIsValid" s:id="nome" id="nome" placeholder="Nome">
      </div>

      <div class="form-group col-md-6">
        <label for="sobrenome">Sobrenome</label>
        <input autocomplete="off" type="text" bind:class="sobrenomeIsValid" s:id="sobrenome" id="sobrenome" placeholder="Sobrenome">
      </div>

    </div>

    <div class="form-row">

      <div class="form-group col-md-6">
        <label for="cpf">CPF</label>
        <input autocomplete="off" type="text" bind:class="cpfIsValid" id="cpf" s:id="cpf" data-mask="###.###.###-##">
        <div s:if="cpfIsValid" class="invalid-feedback">Por favor Insira um CPF valido !</div>
      </div>

      <div class="form-group col-md-6">
        <div class="form-group ">
          <label for="email">Email</label>
          <input autocomplete="off" type="email" bind:class="emailIsValid" s:id="email" id="email" placeholder="exemplo@gmail.com">
          <div s:if="emailIsValid" class="invalid-feedback">Por favor Insira um Email valido !</div>
        </div>
      </div>

    </div>

    <div class="form-row">

      <div class="form-group col-md-3 ">
        <div class="form-group ">
          <label for="tell">Telefone</label>
          <input autocomplete="off" type="tel" bind:class="tellIsValid" s:id="tell" id="tell" placeholder="" data-mask="(##) ####-####">
          <div s:if="tellIsValid" class="invalid-feedback">Por favor Insira um Telefone valido !</div>
        </div>
      </div>

      <div class="form-group col-md-3">
        <div class="form-group ">
          <label for="cell">Celular</label>
          <input autocomplete="off" type="tel" bind:class="cellIsValid" s:id="cell" id="cell" placeholder="" data-mask="(##) # ####-####">
          <div s:if="cellIsValid" class="invalid-feedback">Por favor Insira um Celular valido !</div>
        </div>
      </div>

    </div>

    <div class="w-100 p-3 mt-5 d-flex justify-content-end">
      <button type="button" s:id="salvar" class="btn btn-primary-color shadow-1">Salvar</button>
    </div>

  </form>
  <div bind s:id="snackbar" bind:style="color" id="snackbar">{{msg}}</div>

</div>

<style bind scoped>
  /* The snackbar - position it at the bottom and in the middle of the screen */
  #snackbar {
    visibility: hidden;
    /* Hidden by default. Visible on click */
    min-width: 75%;
    /* Set a default minimum width */
    /* margin-left: -12%; */
    /* Divide value of min-width by 2 */
    /* background-color: {{color}}; */
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 5px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    left: 50%;
    transform: translate(-50%, 0);
    /* Center the snackbar */
    bottom: 30px;
    /* 30px from the bottom */
  }

  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible;
    /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
   However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {
      bottom: 0;
      opacity: 0;
    }

    to {
      bottom: 30px;
      opacity: 1;
    }
  }

  @keyframes fadein {
    from {
      bottom: 0;
      opacity: 0;
    }

    to {
      bottom: 30px;
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeout {
    from {
      bottom: 30px;
      opacity: 1;
    }

    to {
      bottom: 0;
      opacity: 0;
    }
  }

  @keyframes fadeout {
    from {
      bottom: 30px;
      opacity: 1;
    }

    to {
      bottom: 0;
      opacity: 0;
    }
  }

</style>
