<div class="container mt-2">
    <h5>Dashboard</h5>

    <div class="row d-flex  mt-1 mb-3 justify-content-between">

            <div class="col-md-3 h-25 shadow-hover-1 mb-1 p-3 text-center">
                            <h4 class="text-success ">Chamados Positivos </h4>
                            <p class="lead">371</p>
                        

            </div>

            <div class="col-md-4  h-25 shadow-hover-1 mb-1 p-3 text-center">
                            <h4 class="text-info ">Total de Chamados </h4>
                            <p class="lead">655</p>
                        
                
            </div>

            <div class="col-md-3 h-25 shadow-hover-1 mb-1 p-3 text-center">
                    <h4 class="text-danger ">Chamados Negativos</h4>
                    <p class="lead">284</p>
                

    </div>

    </div>
   
    <div class="row  d-flex justify-content-center">

    <graficos-home class="w-100 shadow-hover-1  "></graficos-home>

    </div>

</div>