<div class="container text-center mt-3">
    <h2 class="">Home</h2>
    <hr>
    <div class="row mt-3 d-flex justify-content-bettwen">

      

        <div class="col-md-4  text-center">

                <div class="jumbotron ">
                        <h2 class="display-5 text-info">Clientes Satisfeitos </h2>
                        <p class="lead">Aqui estaria a quantidade de avaliações positivas</p>
                    
                 </div>

          
        </div>
        <div class="col-md-4  text-center">

                <div class="jumbotron ">
                        <h2 class="display-5 text-info">Clientes Satisfeitos </h2>
                        <p class="lead">Aqui estaria a quantidade de avaliações positivas</p>
                    
                 </div>

          
        </div>
        <div class="col-md-4  text-center">

                <div class="jumbotron ">
                        <h2 class="display-5 text-info">Clientes Satisfeitos </h2>
                        <p class="lead">Aqui estaria a quantidade de avaliações positivas</p>
                    
                 </div>

          
        </div>


    </div>

</div>