<div class="container">
        <h3 class="mb-4">Novo Chamado</h3>
        <form action="">
      
          <div class="row">
      
            <div class="col-md-6">
      
              <fieldset>
      
                <div class="form-group">
                  <label for="cpf">CPF</label>
                  <input type="text" class="form-control" id="cpf" name="cpf" placeholder="000.000.000-00">
                </div>
      
                <div class="form-group">
                  <label for="email">Email</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">@</span>
                    </div>
                    <input type="email" class="form-control" id="email" name="email" placeholder="email@exemplo.com">
                  </div>
                </div>
      
              </fieldset>
            </div>
      
            <div class="col-md-6 ">
      
              <fieldset>
      
                <div class="form-group">
                  <label for="numero-cartao">Protocolo</label>
                  <input type="text" class="form-control" id="numero-cartao" name="numero-cartao" placeholder="201877859" disabled>
                </div>
      
                <div class="form-group">
                  <label for="numero-cartao">Assunto</label>
                  <input type="text" class="form-control" id="numero-cartao" name="numero-cartao" placeholder="exemplo">
                </div>
      
              </fieldset>
      
            </div>
      
          </div>
      
          <div class="row mt-4">
      
            <div class="col-md-6">
      
              <div class="form-group">
                <label for="validade-cartao">Descrição do Problema</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Descrição"></textarea>
              </div>
      
            </div>
      
          </div>
      
          <div class="float-right">
            <button type="submit" class="btn btn-primary">Abrir Chamado</button>
          </div>
      
        </form>